header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 100px 20px;
}

footer { 
  padding: 0 20px;
}

.gold-bg {
  background-color: #A9A9A9;
}

title {
	color:grey;
}

body {
	font-family:Arial, sans-serif;
	background-color:lightgrey;

nav {
  background-color: #A9A9A9;
  padding: 10px 0 10px;
}